:root {
  --color-marine: 12 26 45; /* #0C1A2D */ 
  --color-white: 255 255 255; /* #FFFFFF */ 
  --color-green: 94 222 34; /* #5EDE22 */
  --color-pink: 255 154 239; /* #FF9AEF */
  --color-purple: 183 139 255; /* #B78BFF */ 
  --color-blue: 120 231 255; /* #78E7FF */
}